<a href="https://colab.research.google.com/github/ElenaNtm/power-thefts-investigation/blob/main/save_preprocces(3).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Libraries

In [1]:
import pandas as pd 
import numpy as np
import math
import operator

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Data

In [3]:
path = "/content/drive/MyDrive/HEDNO/Edo_ola/result_req.csv"
result_req = pd.read_csv(path, sep= ',')

In [4]:
path = "/content/drive/MyDrive/HEDNO/Edo_ola/result_req_test.csv"
result_req_test = pd.read_csv(path, sep= ',')

In [5]:
path = "/content/drive/MyDrive/HEDNO/Edo_ola/result_rep.csv"
result_rep = pd.read_csv(path, sep= ',')

In [6]:
path = "/content/drive/MyDrive/HEDNO/Edo_ola/result_rep_test.csv"
result_rep_test = pd.read_csv(path, sep= ',')

In [ ]:
path = "/content/drive/MyDrive/HEDNO/Edo_ola/result_con.csv"
result_con = pd.read_csv(path, sep= ',')

In [ ]:
path = "/content/drive/MyDrive/HEDNO/Edo_ola/result_con_test.csv"
result_con_test = pd.read_csv(path, sep= ',')

In [ ]:
path = "/content/drive/MyDrive/HEDNO/Records_TRAIN.csv"
df_records_train = pd.read_csv(path, sep= '|')

In [ ]:
path = "/content/drive/MyDrive/HEDNO/Records_TEST.csv"
df_records_test = pd.read_csv(path, sep= '|')

## Powerthefts - Target Variable

In [ ]:
path = "/content/drive/MyDrive/HEDNO/PowerThefts_TRAIN.csv"
df_power_thefts = pd.read_csv(path, sep= ',')

In [ ]:
df_power_thefts.drop(['Unnamed: 0.1','Unnamed: 0'], axis=1, inplace = True)

# Columns

In [ ]:
result_req.columns

In [ ]:
result_req.drop(['Unnamed: 0'],axis=1, inplace=True)

In [ ]:
result_req_test.columns

In [ ]:
result_req_test.drop(['Unnamed: 0'],axis=1, inplace=True)

In [ ]:
result_rep.columns

In [ ]:
result_rep.drop(['Unnamed: 0'],axis=1, inplace=True)

In [ ]:
result_rep_test.columns

In [ ]:
result_rep_test.drop(['Unnamed: 0'],axis=1, inplace=True)

In [ ]:
result_con.columns

In [ ]:
result_con.drop(['Unnamed: 0', 'MS_METER_NBR', 'CSS_MS_HS_USE', 'MEASUREMENT_DATE'],axis=1, inplace=True)

In [ ]:
result_con_test.columns

In [ ]:
result_con_test.drop(['Unnamed: 0', 'MS_METER_NBR', 'CSS_MS_HS_USE', 'MEASUREMENT_DATE'],axis=1, inplace=True)

In [ ]:
df_power_thefts.columns

In [ ]:
df_power_thefts.drop(['ΤΡΟΠΟΣ_ΕΝΤΟΠΙΣΜΟΥ', 'ΣΗΜΕΙΟ_ΕΝΤΟΠΙΣΜΟΥ','HMANAF', 'INITIAL_DETECTION_DATE', 'DETECTION_DATE',
       'NON_REGISTERED_ENERGY'],axis=1, inplace=True)

#Add column to power thefts with 1

In [ ]:
df_power_thefts['target'] = 1

In [ ]:
df_power_thefts.head()

##Δημιουργώ το dataframe - Join all except power_thefts

In [ ]:
new_df=pd.merge(df_records_train,result_req, how='left',on=['ACCT_NBR','SUCCESSOR'])

In [ ]:
#test
new_df_test=pd.merge(df_records_test,result_req_test, how='left',on=['ACCT_NBR','SUCCESSOR'])

In [ ]:
new_df=pd.merge(new_df,result_rep, how='left',on=['ACCT_NBR','SUCCESSOR'])

In [ ]:
#test
new_df_test=pd.merge(new_df_test,result_rep_test, how='left',on=['ACCT_NBR','SUCCESSOR'])

In [ ]:
new_df=pd.merge(new_df,result_con, how='left',on=['ACCT_NBR','SUCCESSOR'] )

In [ ]:
#test
new_df_test=pd.merge(new_df_test,result_con_test, how='left',on=['ACCT_NBR','SUCCESSOR'] )

In [ ]:
new_df.head()

In [ ]:
new_df_test.head()

#Left Join new_df with power_thefts and to target column where value=Nan replace with 0

In [ ]:
fin_info= pd.merge(new_df, df_power_thefts , on=['ACCT_NBR', 'SUCCESSOR'], how='left')

In [ ]:
fin_info.head()

In [ ]:
fin_info['target'] = fin_info['target'].fillna(0)

In [ ]:
fin_info['target'].value_counts()

In [ ]:
fin_info["target"] = fin_info["target"].astype(int)

#Στατιστική ανάλυση στα δεδομένα του τελικού dataframe - Not to run

##power thefts percentage is almost 10%

In [ ]:
#sns.histplot(data=fin_info_1, x='target', bins=30)

##Missing Values

In [40]:
total = fin_info.isnull().sum().sort_values(ascending=False)
percent = (fin_info.isnull().sum()/fin_info.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head(20)

                      Total   Percent
SUPPLIER_TO         7465556  0.766521
LAST_REQUEST_TYPE   6864938  0.704853
TOTAL_REQUEST_TYPE  6346941  0.651668
BS_RATE              520758  0.053468
TOTAL_MS_METER_NBR   520758  0.053468
CONTRACT_CAPACITY     98877  0.010152
TOTAL_SUPPLIER        12983  0.001333
END_DATE              12983  0.001333
START_DATE            12983  0.001333
SUPPLIER              12983  0.001333
LAST_SUPPLIER         12983  0.001333
ACCT_NBR                  0  0.000000
SUCCESSOR                 0  0.000000
ACCT_WGS84_Y              0  0.000000
ACCT_WGS84_X              0  0.000000
ACCT_CONTROL              0  0.000000
XRHSH                     0  0.000000
PARNO                     0  0.000000
VOLTAGE                   0  0.000000
target                    0  0.000000

In [41]:
fin_info.drop(['LAST_REQUEST_TYPE','TOTAL_REQUEST_TYPE'], axis = 1, inplace = True)

In [42]:
#total = new_df_test.isnull().sum().sort_values(ascending=False)
#percent = (new_df_test.isnull().sum()/new_df_test.isnull().count()).sort_values(ascending=False)
#missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
#missing_data.head(20)

In [43]:
new_df_test.drop(['LAST_REQUEST_TYPE','TOTAL_REQUEST_TYPE'], axis = 1, inplace = True)

##Handle missing data

In [ ]:
fin_info = fin_info.apply(lambda x:x.fillna(x.value_counts().index[0]))
fin_info.isnull().sum().max()

In [ ]:
new_df_test = new_df_test.apply(lambda x:x.fillna(x.value_counts().index[0]))
new_df_test.isnull().sum().max()

#Drop duplicates- if done the precision in the model will drop later

In [ ]:
fin_info = fin_info.drop_duplicates(subset=['ACCT_NBR', 'SUCCESSOR'], keep='last')

In [ ]:
new_df_test = new_df_test.drop_duplicates(subset=['ACCT_NBR', 'SUCCESSOR'], keep='last')

In [ ]:
fin_info.head()

In [ ]:
new_df_test.head()

In [ ]:
#new_df_test['target'].value_counts()

#Save to drive and work with only the two last files

In [ ]:
path = "/content/drive/MyDrive/HEDNO/Edo_ola/train_data.csv"
with open(path, 'w', encoding = 'utf-8-sig') as f:
  fin_info.to_csv(f)

In [ ]:
path = "/content/drive/MyDrive/HEDNO/Edo_ola/test_data.csv"
with open(path, 'w', encoding = 'utf-8-sig') as f:
  new_df_test.to_csv(f)